<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>About</title>
        <!-- Bootstrap core CSS -->
        <link href="../static/bootstrap/css/bootstrap.css" rel="stylesheet">
        <!-- Custom styles for this template -->
        <link href="../static/cover.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    </head>

    <body>

        <div class="container container-sm">
        <div class="row justify-content-center">
        <div class="col bgcol col-sm-9">

            <div class="row justify-content-center">
            <div class="col col-sm-12">
            <div class="row navrow justify-content-center align-items-center">
                
                <div class="col col-lg-8">
                    <div class="d-flex d1">THE IT INDUSTRY DEPRESSION TEST</div>
                </div>
                
                <div class="col col-6 col-lg-1">
                <div class="row">
                <div class="col d-flex justify-content-end">

                    <a href="{{ url_for('home') }}">
                        
                        <button

                            class="
                                btn 
                                btn-sm 
                                btn-light 
                                rounded-0 
                                border-0 
                                pl-4 
                                pr-4">
                            
                            <i class="
                                fa 
                                fa-home">
                            </i>

                        </button>

                    </a>

                </div>
                </div>
                </div>

            </div>
            </div>
            </div>

            <div class="row justify-content-center">
            <div class="col col-sm-12">

                <div class="row justify-content-center">
                <div class="col col-sm-9">

                    <h1>Introduction</h1>
                    <p>This program is our major academic project for our undergraduate course. We are a team of four ComSci students. It could be said that our work had already started years ago, when two of us encountered the deeply upsetting news about the passing of our favourite rock singer, Chester Bennington.</p>                      

                    <p>Depression is a common mental disorder characterised by persistent sadness and a loss of interest in activites and hobbies, causing a significant impairment in daily life. Symptoms may include changes in sleep, appetite, energy levels, focus, and sense of self-worth and self-esteem. Clinical depression/Major depression differs from the emotion of sadness by virtue of long-term persistence of symptoms; a diagnosis of depression cannot be made if the symptoms haven't persisted for a long period of at least 14 days. If left undiagnosed and untreated, depression may lead to suicide. Like it did to Chester.</p>

                    <div class="media"><img src="../static/img/chester.jpg"></div>
                    
                    <p>Linkin Park is one of the most successful rock bands in history. Its lead vocalist used to be Chester Bennington. Chester struggled with trauma, abuse and addiction in his early years, and depression his whole life. On the 20th of July, 2017, he was found dead at his home. Suicide by hanging. This band was a major part of our teens.</p>

                    <p>The two of us began looking into what caused Chester to take his own life. We began learning about depression and its effects and characteristics. We began finding other artists who had lost their lives the same way. There were a lot of them, especially around that point in time.</p>

                    <div id="demo" class="carousel slide media" data-ride="carousel">

                        <!-- Indicators -->
                        <ul class="carousel-indicators">
                        <li data-target="#demo" data-slide-to="0" class="active"></li>
                        <li data-target="#demo" data-slide-to="1"></li>
                        <li data-target="#demo" data-slide-to="2"></li>
                        <li data-target="#demo" data-slide-to="3"></li>
                        <li data-target="#demo" data-slide-to="4"></li>
                        <li data-target="#demo" data-slide-to="5"></li>
                        </ul>
                    
                        <!-- The slideshow -->
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="../static/img/avicii.jpg" alt="Los Angeles">
                            </div>
                            <div class="carousel-item">
                                <img src="../static/img/sulli.jpg" alt="Chicago">
                            </div>
                            <div class="carousel-item">
                                <img src="../static/img/cornell.jpg" alt="New York">
                            </div>
                            <div class="carousel-item">
                                <img src="../static/img/peep.jpg" alt="New York">
                            </div>
                            <div class="carousel-item">
                                <img src="../static/img/mac.jpg" alt="New York">
                            </div>
                            <div class="carousel-item">
                                <img src="../static/img/juice.jpg" alt="New York">
                            </div>
                        </div>
                    
                        <!-- Left and right controls -->
                        <a class="carousel-control-prev" href="#demo" data-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                        </a>
                        <a class="carousel-control-next" href="#demo" data-slide="next">
                        <span class="carousel-control-next-icon"></span>
                        </a>
                    
                    </div>

                    <p>The more we learnt, the more we realised the importance of depression and its treatment. So when it came time to select what project we'd do, the answer was obvious.</p>

                    <h1>Motivation</h1>
                    <p>Based on the latest data we have, global suicide rates have been high the past few years. In some countries like the US, suicide rates haven’t been this high since the Second World War. The WHO estimates that each year, approximately one million people die from suicide, representing a global mortality rate of one death every 40 seconds.</p>

                    <p>Just like physical illnesses, mental illnesses like depression don’t discriminate. Many famous and successful personalities, observed above, have taken their own lives in recent years because of it. But despite this, arguably, mental health isn’t taken as seriously as physical health. The WHO says that globally, the availability and quality of data on suicide and suicide attempts is poor, which is a testament to this.</p>

                    <p>The first step in dealing with depression is accurate diagnosis. Therapy, which is face-to-face interaction with a mental health professional, is the basic method of the diagnosis for depression, and a popular method for its treatment as well. But there are issues with it that often make it inaccessible – the quality of therapy depends on the competence of the therapist, which isn’t guaranteed; and people are often hesitant to seek therapy, as they are uncomfortable sharing their issues with another person, or aren’t able to afford it in the first place.</p>

                    <p>There are some computer-based solutions as well. But they too have their own problems that make them infeasible for practical use. Face recognition has a very low accuracy, based on our research, which makes sense because humans are good at hiding emotions, and if a human can't detect another human's depression, then a computer of today probably can't. The accuracy is 55%, which is basically trying to use a coin-toss for diagnosis.</p>

                    <p>Another solution is sentiment analysis, which though has higher accuracy than face recognition, is still infeasible because it depends on the victim having a social media account, them posting about their depression on said social media account, and finally them willing to share those posts to the professional handling the sentiment analysis program.</p>

                    <p>Our research revealed dissatisfactory diagnosis methods like so. We wanted to create something more useful. We observed that a questionnaire approach would be the best in terms of accuracy. Our guide for the project, who is also involved in electronic solutions to mental health issues, confirmed the same. We decided to focus on our field (the software/tech industry) for now. We came up with a Machine Learning solution using Random Forest algorithm that can predict depression with an accuracy of 96% based on the answers given to a 15-question quiz about various aspects of an employee's life. This program is that solution.</p>

                    <p>Our project is meant to be a part of the progress of humanity towards better mental healthcare. Our machine learning program asks a person questions, and determines the presence and level of depression in them based on the answers they give. The program also serves as a data collection platform to support the drive for more data on mental health.</p>

                    <p>Since there’s no human being paid for their time and presence, it’s free. Also, it’s a cold, non-judgemental software interface that the user interacts with – an anonymous QnA platform. Thus, in theory, our solution is more accessible than therapy sessions. It is also more accurate than existing computer-based methods.</p>

                    <p>Machine learning provides a better ability to upscale, upgrade and obtain results than hard coded algorithms. A machine learning model is an entity that understands the problem – this is obviously better for non-deterministic, real world problems like depression, compared to a pre-programmed system that can do nothing but go by the book. Intuitively, ML is the right approach for this problem, and we've thus used it.</p>

                    <h1>The Team</h1>
    
                    <div class="card-deck">

                        <div class="card rounded-0">
                            <img class="card-img-top" src="../static/img/kris.JPG" alt="Card image">
                            <div class="card-body">
                            <h4 class="card-title">Krishna Kant Hati</h4>
                            <p class="card-text">Backend, ML</p>
                            <a href="https://www.linkedin.com/in/krishnakanthati/" class="btn btn-sm btn-light rounded-0 border-0"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>

                        <div class="card rounded-0">
                            <img class="card-img-top" src="../static/img/tanay.jpeg" alt="Card image">
                            <div class="card-body">
                            <h4 class="card-title">Tanay Sharma</h4>
                            <p class="card-text">Frontend</p>
                            <a href="https://www.linkedin.com/in/tanay-sharma-1aa11721a" class="btn btn-sm btn-light rounded-0 border-0"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>

                    </div>

                    <div class="card-deck">

                        <div class="card rounded-0">
                            <img class="card-img-top" src="../static/img/shrayan.jpeg" alt="Card image">
                            <div class="card-body">
                            <h4 class="card-title">Shrayan N Jain</h4>
                            <p class="card-text">Frontend</p>
                            <a href="https://www.linkedin.com/in/shrayan-jain-658355189" class="btn btn-sm btn-light rounded-0 border-0"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>

                        <div class="card rounded-0">
                            <img class="card-img-top" src="../static/img/rajath.jpeg" alt="Card image">
                            <div class="card-body">
                            <h4 class="card-title">Rajath Yashonidhi M</h4>
                            <p class="card-text" style="text-align: left;">Frontend, UI Flow, Responsive/Mobile-Readiness</p>
                            <a href="https://www.linkedin.com/in/rajath-yashonidhi-m-11891a242" class="btn btn-sm btn-light rounded-0 border-0"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>

                    </div>

                    <h1>Privacy</h1>
                    <p>Visitors' questionnaire answers are recorded and used to generate downloadable statistics and reports for the information of them and their organization. Visitors' identities aren't taken in, in any way, shape, or form, let alone stored and associated with their responses, hence their questionnaire data is, despite being recorded, completely anonymous. </p>
                    <br>

                </div>
                </div>

            </div>
            </div>

        </div>
        </div>
        </div>

        <!-- Bootstrap core JavaScript -->
        <!-- Placed at the end of the document so the pages load faster -->

        <script src="../static/js/jquery.min.js"></script>
        <script src="../static/js/popper.js"></script>
        <script src="../static/bootstrap/js/bootstrap.min.js"></script>

    </body>

</html>