<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Home</title>
        <!-- Bootstrap core CSS -->
        <link href="../static/bootstrap/css/bootstrap.css" rel="stylesheet">
        <!-- Custom styles for this template -->
        <link href="../static/cover.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    </head>

    <body>

        <div class="container container-sm">
        <div class="row justify-content-center">
        <div class="col bgcol col-sm-9">

            <div class="row justify-content-center">
            <div class="col col-sm-12">
            <div class="row navrow justify-content-center align-items-center">
                
                <div class="col col-lg-8">
                    
                    <div class="d-flex d1">THE IT INDUSTRY DEPRESSION TEST</div>

                </div>
                
                <div class="col col-6 col-lg-1">
                <div class="row">
                <div class="col d-flex justify-content-end">

                    <a href="https://github.com/krishnakanthati/depression/">
                        
                        <button

                            class="
                                btn 
                                btn-sm 
                                btn-light 
                                rounded-0 
                                border-0
                                pl-4 
                                pr-4">
                            
                            <i class="
                                fa 
                                fa-github">
                            </i>

                        </button>

                    </a>
                    <a href="{{ url_for('about') }}">
                        
                        <button

                            class="
                                btn 
                                btn-sm 
                                btn-light 
                                rounded-0 
                                border-0 
                                pl-4 
                                pr-4">
                            
                            <i class="
                                fa 
                                fa-info-circle">
                            </i>

                        </button>

                    </a>

                </div>
                </div>
                </div>

            </div>
            </div>
            </div>

            <div class="row justify-content-center">
            <div class="col col-sm-12">

                <div class="row justify-content-center">
                <div class="col col-sm-9">

                    <h1>Welcome!</h1>
                    <p>Depression can be a frustrating thing to deal with. But remember that you are not alone. We are here to help you out. Having a way to share your struggle and get suggestions is really important. That's why we have created an anonymous platform where you can take a test by answering few questions.</p>

                    <div id="demo" class="carousel slide media" data-ride="carousel">

                        <!-- Indicators -->
                        <ul class="carousel-indicators">
                        <li data-target="#demo" data-slide-to="0" class="active"></li>
                        <li data-target="#demo" data-slide-to="1"></li>
                        <li data-target="#demo" data-slide-to="2"></li>
                        </ul>
                    
                        <!-- The slideshow -->
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="../static/img/1, 2.png" alt="Los Angeles">
                            </div>
                            <div class="carousel-item">
                                <img src="../static/img/2.png" alt="Chicago">
                            </div>
                            <div class="carousel-item">
                                <img src="../static/img/3.png" alt="New York">
                            </div>
                        </div>
                    
                        <!-- Left and right controls -->
                        <a class="carousel-control-prev" href="#demo" data-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                        </a>
                        <a class="carousel-control-next" href="#demo" data-slide="next">
                        <span class="carousel-control-next-icon"></span>
                        </a>
                    
                    </div>
                    

                    <div
                    class="btn-group col-12"
                    role="group"
                    aria-label="Basic example"
                  >
                    <a
                      href="{{ url_for('quiz') }}"
                      class="btn btn-primary col-6"
                      >TAKE QUIZ</a
                    >
                    <a
                      href="{{ url_for('text') }}"
                      class="btn btn-primary col-6"
                      >TEXT ANALYSIS</a
                    >
                  </div><br><br>
                  <div
                    class="btn-group col-12"
                    role="group"
                    aria-label="Basic example"
                  >
                    <a
                      href="http://screening-dashboard.herokuapp.com/"
                      class="btn btn-danger col-12"
                      >DASHBOARD</a
                    >
                  </div>
                  <br /><br />

                    <!-- <a href="{{ url_for('quiz') }}" style="text-decoration: none;"><button type="button" class="btn btn-success btn-block rounded-0">TAKE QUIZ</button></a><br> -->


                    <!-- <a href="http://screening-dashboard.herokuapp.com/" style="text-decoration: none;"><button type="button" class="btn btn-danger btn-block rounded-0">DASHBOARD</button></a><br> -->

                    <p>The data from questionnaire is fed to a highly accurate machine learning model to detect level of depression. Since it uses machine learning, our results are generalized and is not hard coded. This allows us to consider many factors into account to decide upon the level of depression.</p>
                    <p>The response of the questionnaire will be recorded to further enhance the model and research into the model behavior. Do note that we do not take any personally identifiable information in any form such as cookies. This is really important to ensure privacy and anonymity. It also allows the users to answer questions more freely.</p>


                    <p>Based on the latest data we have, global suicide rates have been high the past few years. Mental health and depression are yet to be taken seriously by many, as it takes more lives everyday. This project is made in an effort to reduce suicide rates and help people with depression in the IT Industry using a highly accurate machine learning model. We know that the best way to know is to ask. Hence we designed a 15 question questionnaire whose data will be fed into a machine learning model to predict level of depression with 96% accuracy. You can know more about the project by clicking on learn more.</p>

                </div>
                </div>

            </div>
            </div>

        </div>
        </div>
        </div>

        <!-- Bootstrap core JavaScript -->
        <!-- Placed at the end of the document so the pages load faster -->

        <script src="../static/js/jquery.min.js"></script>
        <script src="../static/js/popper.js"></script>
        <script src="../static/bootstrap/js/bootstrap.min.js"></script>

    </body>

</html>