<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Result</title>
    <!-- Bootstrap core CSS -->
    <link href="../static/bootstrap/css/bootstrap.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="../static/cover.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>

    <div class="container container-sm">
    <div class="row justify-content-center">
    <div class="col bgcol col-sm-9">

        <div class="row justify-content-center">
        <div class="col col-sm-12">
        <div class="row navrow justify-content-center align-items-center">
            
            <div class="col col-lg-8">
                
                <div class="d-flex d1">THE IT INDUSTRY DEPRESSION TEST</div>

            </div>
            
            <div class="col col-6 col-lg-1">
            <div class="row">
            <div class="col d-flex justify-content-end">

                <a href="index.html">
                    
                    <button

                        class="
                            btn 
                            btn-sm 
                            btn-light 
                            rounded-0 
                            border-0 
                            pl-4 
                            pr-4">
                        
                        <i class="
                            fa 
                            fa-home">
                        </i>

                    </button>

                </a>

            </div>
            </div>
            </div>

        </div>
        </div>
        </div>

        <div class="row justify-content-center">
        <div class="col col-sm-12">

            <div class="row justify-content-center">
            <div class="col col-sm-9">
                
                <h1 style="text-align: center; color: gold">LEVEL 0/NO DEPRESSION</h1>
                
                <p>Do you or a loved one have <a href="https://www.webmd.com/depression/default.htm" data-metrics-link="" data-crosslink-type="article">depression</a>? If so, you might know that treatments can help the condition. But what about ways to prevent it in the first place?</p>

                <p>There’s no clear answer. Most experts think it can’t be prevented. Others aren’t sure.</p>

                <p>Most of the things that make you more likely to get <a href="https://www.webmd.com/depression/ss/slideshow-depression-overview" data-metrics-link="" data-crosslink-type="slideshow">depression</a> are things you can’t control, including your genes, chemicals in your <a href="https://www.webmd.com/brain/picture-of-the-brain" data-metrics-link="" data-crosslink-type="article">brain</a>, and your environment. For many people, <a href="https://www.webmd.com/depression/depression-assessment/default.htm" data-metrics-link="" data-crosslink-type="tools">depression</a> starts after a major life change or trauma. It can also happen if you have another health problem, such as <a href="https://www.webmd.com/cancer/" data-metrics-link="" data-crosslink-type="article">cancer</a>, <a href="https://www.webmd.com/diabetes/default.htm" data-metrics-link="" data-crosslink-type="article">diabetes</a>, or Parkinson’s disease.</p>

                <p>You may not be able to totally protect yourself from these things. But you can change how you handle the <a href="https://www.webmd.com/balance/stress-management/default.htm" data-metrics-link="" data-crosslink-type="article">stress</a> they can cause. If you already have <a href="https://www.webmd.com/depression/depression-tv/default.htm" data-metrics-link="" data-crosslink-type="video">depression</a>, you can stop it from getting worse.</p>

                <h1>Keep Depression From Coming Back</h1>

                <p>Though doctors don’t know that it’s possible to prevent depression altogether, you may be able to keep it from coming back if you’ve already had an episode. Some therapists use an approach called mindfulness-based cognitive <a href="https://www.webmd.com/mental-health/mental-health-psychotherapy" data-metrics-link="" data-crosslink-type="article">therapy</a> (MBCT) to do that.</p>

                <p>MBCT combines cognitive <a href="https://www.webmd.com/depression/ss/slideshow-therapy-myths-and-facts" data-metrics-link="" data-crosslink-type="slideshow">therapy</a>, which changes the way you think, with mindfulness. The goal of mindfulness is to focus on what’s going on in the present. The method aims to help people with depression be aware of their negative thoughts and learn to change them.</p>

                <p>Other psychotherapies, such as Interpersonal Therapy, which focuses on relationships, are also effective.</p>

                <p>Other ideas to prevent depression involve medicine, lifestyle changes, and <a href="https://www.webmd.com/diet/default.htm" data-metrics-link="" data-crosslink-type="article">nutrition</a>. Some studies have found that steps like these can reduce new episodes of depression by 25% or more, but scientists need to do more research on these approaches.</p>

                <h1>What You Can Do</h1>

                <p>There’s no sure way to prevent depression. But you can:</p>

                <ul>
                    <li>Find ways to handle <a href="https://www.webmd.com/balance/stress-management/stress-assessment/default.htm" data-metrics-link="" data-crosslink-type="tools">stress</a> and improve your self-esteem.</li>

                    <li>Take good care of yourself. Get enough <a href="https://www.webmd.com/sleep-disorders/default.htm" data-metrics-link="" data-crosslink-type="article">sleep</a>, eat well, and <a href="https://www.webmd.com/fitness-exercise/default.htm" data-metrics-link="" data-crosslink-type="article">exercise</a> regularly.</li>

                    <li>Reach out to family and friends when times get hard.</li>

                    <li>Get regular medical checkups, and see your provider if you don’t feel right.</li>

                    <li>Get help if you think you’re depressed. If you wait, it could get worse.</li>

                    <li>Stick with your treatment plan. Don’t skip therapy sessions.</li>

                    <li>Avoid <a href="https://www.webmd.com/food-recipes/rm-quiz-alcohol-myths-facts" data-metrics-link="" data-crosslink-type="tools">alcohol</a> and recreational drugs.</li>

                    <li>Try ways to fight <a href="https://www.webmd.com/fitness-exercise/video/rippe-understanding-stress-levels" data-metrics-link="" data-crosslink-type="video">stress</a>, like <a href="https://www.webmd.com/balance/meditation" data-metrics-link="" data-crosslink-type="article">meditation</a> and <a href="https://www.webmd.com/balance/guide/the-health-benefits-of-yoga" data-metrics-link="" data-crosslink-type="article">yoga</a>.</li>

                    <li>Spend time with family and friends. Do things that keep you connected to others.</li>

                    <li>Know yourself. Pay attention to the things that seem to make your symptoms worse. Keep notes and tell your doctor or therapist about it.</li>

                    <li>Don’t make big life decisions on a day when you’re feeling down.</li>
                </ul><br>

            </div>
            </div>

        </div>
        </div>

    </div>
    </div>
    </div>

    <!-- Bootstrap core JavaScript -->
    <!-- Placed at the end of the document so the pages load faster -->

    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/popper.js"></script>
    <script src="../static/bootstrap/js/bootstrap.min.js"></script>

</body>

</html>