<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Result</title>
    <!-- Bootstrap core CSS -->
    <link href="../static/bootstrap/css/bootstrap.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="../static/cover.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>

    <div class="container container-sm">
    <div class="row justify-content-center">
    <div class="col bgcol col-sm-9">

        <div class="row justify-content-center">
        <div class="col col-sm-12">
        <div class="row navrow justify-content-center align-items-center">
            
            <div class="col col-lg-8">
                
                <div class="d-flex d1">THE IT INDUSTRY DEPRESSION TEST</div>

            </div>
            
            <div class="col col-6 col-lg-1">
            <div class="row">
            <div class="col d-flex justify-content-end">

                <a href="index.html">
                    
                    <button

                        class="
                            btn 
                            btn-sm 
                            btn-light 
                            rounded-0 
                            border-0 
                            pl-4 
                            pr-4">
                        
                        <i class="
                            fa 
                            fa-home">
                        </i>

                    </button>

                </a>

            </div>
            </div>
            </div>

        </div>
        </div>
        </div>

        <div class="row justify-content-center">
        <div class="col col-sm-12">

            <div class="row justify-content-center">
            <div class="col col-sm-9">
                
                <h1 style="text-align: center; color: gold">LEVEL 1 DEPRESSION</h1>

                <p>Cheering yourself up. It&rsquo;s not about avoidance. It&rsquo;s about recognition. It&rsquo;s about self-love. It&rsquo;s your day. It&rsquo;s your moment. It&rsquo;s your life. It&rsquo;s worth it.</p>
                    
                <p>If you&rsquo;re feeling in a funk, here are 10 Ways to Cheer Yourself Up.</p>
                
                <h1>1. Feel it.</h1>
                
                <p>Dr. Jill Bolte Taylor is a neuroanatomist &ndash; a brain scientist who studies the anatomy of the brain. She had a stroke. She watched her brain functions shift and alter. She watched how her brain processed, or didn&rsquo;t process, stimulation. She found out that if she let herself feel an emotion, it would pass in about 90 seconds. So don&rsquo;t avoid what you&rsquo;re feeling in the hopes it will just go away. It won&rsquo;t. It will if you let yourself feel it though.	
                </p>
                
                <h1>2. Observe things.</h1>
                
                <p>As a <em>witness</em> to what you sense rather than <em>as</em> what you sense, you&rsquo;ll tap into that part of you that exists above and beyond your funk. You&rsquo;ll go beyond reaction and into the ability to respond.</p>
                
                <h1>3. Master your mind. &hellip;or, just give it a little test-run.</h1>
                
                <p>The verbal part of our mind processes about 40 bits of information per second. The non-verbal part of our brain processes about 11 million bits of information per second. So when the verbal part of your mind is telling you &ldquo;Everything sucks,&rdquo; it&rsquo;s not basing that conclusion on very much information. Simply noticing that your thoughts are not serving you and knowing that your thoughts are not based on the whole truth can help you find freedom from them.</p>
                
                <h1>4. Listen to music.</h1>
                
                <p>One way to move past the thoughts is to move your awareness somewhere else. Get your groove on.</p>
                <h1>5. Clear the slate.</h1>
                
                <p>You can meditate in lots of different ways. Walking, breathing, mindfulness, sitting. Any way that works for you is good. Let yourself be with anything other than your thoughts: inhaling peace and exhaling the funk.</p>
            
                <h1>6. Ask for help.</h1>
                
                <p>The imaginary conversation is not working? Reach out. Ask for help. Great people, successful people, people who seem fuelled by a bottomless well of confidence all reach out and ask for help if they need it. Who can you call and ask &ldquo;Can you just tell me I&rsquo;m awesome?&rdquo;</p>
                
                <h1>7. How do you want to feel?</h1>
                
                <p>So you&rsquo;re not feeling great right now. How do you want to feel? Uplifted. Strong. Healthy. Happy. Confident. What do you do that makes you feel that way? Do that now.</p>
                
                <h1>8. The quickie.</h1>
                
                <p>Can&rsquo;t get up and go do that thing? Images can have an instant, powerful effect on our subconscious. What images help boost you up? Many of my clients say nature-based images &ndash; of trees or mountains or the sky &ndash; do it for them. Find the, print or save them, and have them where you can easily access them. This entire practice works with one of our innate talents: state-dependent memory. Basically, we can remember something when we enter into the state we were in when we created the memory. So to remember and re-live something that makes you feel better, create the trigger by choosing an image, and then use it again and again.</p>
                
                <h1>10. Say thank you.</h1>
                
                <p>Gratitude can be an instant uplifter. Make a list of 10 things you&rsquo;re thankful for. Did you know that the part of the brain in charge of gratitude is different than the part of the brain in charge of worry? And that one can&rsquo;t really be activated when the other is? Basically, by activating gratitude we de-activate worry.</p>
                
                <p>Good luck!</p><br>

            </div>
            </div>

        </div>
        </div>

    </div>
    </div>
    </div>

    <!-- Bootstrap core JavaScript -->
    <!-- Placed at the end of the document so the pages load faster -->

    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/popper.js"></script>
    <script src="../static/bootstrap/js/bootstrap.min.js"></script>

</body>

</html>