<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Result</title>
    <!-- Bootstrap core CSS -->
    <link href="../static/bootstrap/css/bootstrap.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="../static/cover.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>

    <div class="container container-sm">
    <div class="row justify-content-center">
    <div class="col bgcol col-sm-9">

        <div class="row justify-content-center">
        <div class="col col-sm-12">
        <div class="row navrow justify-content-center align-items-center">
            
            <div class="col col-lg-8">
                
                <div class="d-flex d1">THE IT INDUSTRY DEPRESSION TEST</div>

            </div>
            
            <div class="col col-6 col-lg-1">
            <div class="row">
            <div class="col d-flex justify-content-end">

                <a href="{{ url_for('home') }}">
                    
                    <button

                        class="
                            btn 
                            btn-sm 
                            btn-light 
                            rounded-0 
                            border-0 
                            pl-4 
                            pr-4">
                        
                        <i class="
                            fa 
                            fa-home">
                        </i>

                    </button>

                </a>

            </div>
            </div>
            </div>

        </div>
        </div>
        </div>

        <div class="row justify-content-center">
        <div class="col col-sm-12">

            <div class="row justify-content-center">
            <div class="col col-sm-9">
                
                <h1 style="text-align: center; color: gold">LEVEL 2 DEPRESSION</h1>

                <h1>Why is dealing with depression so difficult?</h1>
                
                <p>Depression drains your energy, hope, and drive, making it difficult to take the steps that will help you to feel better. Sometimes, just thinking about the things you should do to feel better, like exercising or spending time with friends, can seem exhausting or impossible to put into action.</p>
                
                <p>It’s the Catch-22 of depression recovery: The things that help the most are the things that are the most difficult to do. There is a big difference, however, between something that’s difficult and something that’s impossible. While recovering from depression isn’t quick or easy, you do have more control than you realize—even if your depression is severe and stubbornly persistent. The key is to start small and build from there. You may not have much energy, but by drawing on all your reserves, you should have enough to take a walk around the block or pick up the phone to call a loved one, for example.</p>
                
                <p>Taking the first step is always the hardest. But going for a walk or getting up and dancing to your favorite music, for example, is something you can do&nbsp;right now. And it can substantially boost your mood and energy for several hours—long enough to put a second recovery step into action, such as preparing a mood-boosting meal or arranging to meet an old friend. By taking the following small but positive steps day by day, you’ll soon lift the heavy fog of depression and find yourself feeling happier, healthier, and more hopeful again.</p>
                
                <h1>Coping with depression tip 1: Reach out and stay connected</h1>
                
                <p>Getting support plays an essential role in overcoming depression. On your own, it can be difficult to maintain a healthy perspective and sustain the effort required to beat depression. At the same time, the very nature of depression makes it difficult to reach out for help. When you&#8217;re depressed, the tendency is to withdraw and isolate so that connecting to even close family members and friends can be tough.</p>
                
                <p>You may feel too exhausted to talk, ashamed at your situation, or guilty for neglecting certain relationships. But this is just the depression talking. Staying connected to other people and taking part in social activities will make a world of difference in your mood and outlook. Reaching out is not a sign of weakness and it won&#8217;t mean you&#8217;re a burden to others. Your loved ones care about you and want to help. And if you don&#8217;t feel that you have anyone to turn to, it&#8217;s never too late to <a href="https://www.helpguide.org/articles/relationships-communication/making-good-friends.htm">build new friendships</a> and improve your support network.</p>
                
                <h1>How to reach out for depression support</h1>
                
                <p><strong>Look for support from people who make you feel safe and cared for.</strong>The person you talk to doesn&#8217;t have to be able to fix you; they just need to be a good listener—someone who&#8217;ll listen attentively and compassionately without being distracted or judging you.</p>
                
                <p><strong>Make face-time a priority.</strong>Phone calls, social media, and texting are great ways to stay in touch, but they don&#8217;t replace good old-fashioned in-person quality time. The simple act of talking to someone face to face about how you feel can play a big role in relieving depression and keeping it away.</p>
                
                <p><strong>Try to keep up with social activities even if you don&#8217;t feel like it.</strong> Often when you&#8217;re depressed, it feels more comfortable to retreat into your shell, but being around other people will make you feel less depressed.</p>
                
                <p><strong>Find ways to support others.</strong> It&#8217;s nice to receive support, but research shows you get an even bigger mood boost from providing support yourself. So find ways—both big and small—to help others: <a href="https://www.helpguide.org/articles/healthy-living/volunteering-and-its-surprising-benefits.htm">volunteer</a>, be a listening ear for a friend, do something nice for somebody.</p>
                
                <p><strong>Care for a pet.</strong> While nothing can replace the human connection, <a href="https://www.helpguide.org/articles/mental-health/mood-boosting-power-of-dogs.htm">pets can bring joy and companionship into your life</a> and help you feel less isolated. Caring for a pet can also get you outside of yourself and give you a sense of being needed—both powerful antidotes to depression.</p>
                
                <p><strong>Join a support group for depression.</strong> Being with others dealing with depression can go a long way in reducing your sense of isolation. You can also encourage each other, give and receive advice on how to cope, and share your experiences.</p>

                <h1>10 tips for staying connected</h1>
                
                <ol>

                    <li>Talk to one person about your feelings</li>
                    <li>Help someone else by volunteering</li>
                    <li>Have lunch or coffee with a friend</li>
                    <li>Ask a loved one to check in with you regularly</li>
                    <li>Accompany someone to the movies, a concert, or a small get-together</li>
                    <li>Call or email an old friend</li>
                    <li>Go for a walk with a workout buddy</li>
                    <li>Schedule a weekly dinner date</li>
                    <li>Meet new people by taking a class or joining a club</li>
                    <li>Confide in a clergy member, teacher, or sports coach</li>

                </ol>
                
                <h1>Tip 2: Do things that make you feel good</h1>
                
                <p>In order to overcome depression, you have to do things that relax and energize you. This includes following a healthy lifestyle, learning how to better manage stress, setting limits on what you&#8217;re able to do, and scheduling fun activities into your day.</p>
                
                <h1>Do things you enjoy (or used to)</h1>
                
                <p>While you can&#8217;t force yourself to have fun or experience pleasure, you can push yourself to do things, even when you don&#8217;t feel like it. You might be surprised at how much better you feel once you&#8217;re out in the world. Even if your depression doesn&#8217;t lift immediately, you&#8217;ll gradually feel more upbeat and energetic as you make time for fun activities.</p>
                
                <p>Pick up a former hobby or a sport you used to like. Express yourself creatively through music, art, or writing. Go out with friends. Take a day trip to a museum, the mountains, or the ballpark.</p>
                
                <h1>Support your health</h1>
                
                <p><strong>Aim for eight hours of sleep.</strong> Depression typically involves sleep problems; whether you&#8217;re sleeping too little or too much, your mood suffers. Get on a better sleep schedule <a href="https://www.helpguide.org/articles/sleep/getting-better-sleep.htm">by learning healthy sleep habits.</a></p>
                
                <p><strong>Keep stress in check.</strong> Not only does stress prolong and worsen depression, but it can also trigger it. Figure out all the things in your life that stress you out, such as work overload, money problems, or unsupportive relationships, and find ways to <a href="https://www.helpguide.org/articles/stress/stress-management.htm">relieve the pressure and regain control</a>.</p>
                
                <p><strong>Practice relaxation techniques.</strong> <a href="https://www.helpguide.org/articles/stress/relaxation-techniques-for-stress-relief.htm">A daily relaxation practice</a> can help relieve symptoms of depression, reduce stress, and boost feelings of joy and well-being. Try yoga, deep breathing, progressive muscle relaxation, or meditation.</p>

                <h1>Develop a &#8220;wellness toolbox&#8221; to deal with depression</h1>
                
                <p>Come up with a list of things that you can do for a quick mood boost. The more &#8220;tools&#8221; for coping with depression you have, the better. Try and implement a few of these ideas each day, even if you&#8217;re feeling good.</p>
                
                <ol>

                    <li>Spend some time in nature</li>
                    <li>List what you like about yourself</li>
                    <li>Read a good book</li>
                    <li>Watch a funny movie or TV show</li>
                    <li>Take a long, hot bath</li>
                    <li>Take care of a few small tasks</li>
                    <li>Play with a pet</li>
                    <li>Talk to friends or family face-to-face</li>
                    <li>Listen to music</li>
                    <li>Do something spontaneous</li>

                </ol>
                
                <h1>Tip 3: Get moving</h1> 
                
                <p>When you&#8217;re depressed, just getting out of bed can seem like a daunting task, let alone working out! But <a href="https://www.helpguide.org/articles/healthy-living/the-mental-health-benefits-of-exercise.htm">exercise is a powerful depression fighter</a>—and one of the most important tools in your recovery arsenal. Research shows that regular exercise can be as effective as medication for relieving depression symptoms. It also helps prevent relapse once you&#8217;re well.</p>
                
                <p>To get the most benefit, aim for at least 30 minutes of exercise per day. This doesn&#8217;t have to be all at once—and it&#8217;s okay to start small. A 10-minute walk can improve your mood for two hours.</p>
                
                <h1>Exercise is something you can do right now to boost your mood</h1>
                
                <p><strong>Your fatigue will improve if you stick with it.</strong> Starting to exercise can be difficult when you&#8217;re depressed and feeling exhausted. But research shows that your energy levels will improve if you keep with it. Exercise will help you to feel energized and less fatigued, not more.</p>
                
                <p><strong>Find exercises that are continuous and rhythmic. </strong>The most benefits for depression come from <a href="https://www.helpguide.org/articles/healthy-living/what-are-the-best-exercises-for-me.htm">rhythmic exercise</a>—such as walking, weight training, swimming, martial arts, or dancing—where you move both your arms and legs.</p>
                
                <p><strong>Add a mindfulness element,</strong> especially if your depression is rooted in <a href="https://www.helpguide.org/articles/ptsd-trauma/coping-with-emotional-and-psychological-trauma.htm">unresolved trauma</a> or fed by obsessive, negative thoughts. <a href="https://www.helpguide.org/harvard/benefits-of-mindfulness.htm">Focus on how your body feels</a> as you move—such as the sensation of your feet hitting the ground, or the feeling of the wind on your skin, or the rhythm of your breathing.</p>
                
                <p><strong>Pair up with an exercise partner.</strong> Not only does working out with others enable you to spend time socializing, it can also help to keep you motivated. Try joining a running club, taking a water aerobics or dance class, seeking out tennis partners, or enrolling in a soccer or volleyball league.</p>
                
                <p><strong>Take a dog for a walk.</strong> <a href="https://www.helpguide.org/articles/mental-health/mood-boosting-power-of-dogs.htm">If don&#8217;t own a dog</a>, you can volunteer to walk homeless dogs for an animal shelter or rescue group. You&#8217;ll not only be helping yourself but also be helping to socialize and exercise the dogs, making them more adoptable.</p>
                
                <h1>Tip 4: Eat a healthy, depression-fighting diet</h1>
                
                <p>What you eat has a direct impact on the way you feel. Reduce your intake of foods that can adversely affect your brain and mood, such as caffeine, alcohol, trans fats, and foods with high levels of chemical preservatives or hormones (such as certain meats).</p>
                
                <p><strong>Don&#8217;t skip meals.</strong> Going too long between meals can make you feel irritable and tired, so aim to eat something at least every three to four hours.</p>
                
                <p><strong>Minimize sugar and refined carbs.</strong> You may crave sugary snacks, baked goods, or comfort foods such as pasta or French fries, but these &#8220;feel-good&#8221; foods <a href="https://www.helpguide.org/articles/healthy-eating/choosing-healthy-carbs.htm">quickly lead to a crash in mood and energy</a>. Aim to cut out as much of these foods as possible.</p>
                
                <p><strong>Boost your B vitamins.</strong> Deficiencies in B vitamins such as folic acid and B-12 can trigger depression. To get more, take a B-complex vitamin supplement or eat more citrus fruit, leafy greens, beans, chicken, and eggs.</p>
                
                <p><strong>Boost your mood with foods rich in omega-3 fatty acids.</strong> <a href="https://www.helpguide.org/articles/healthy-eating/choosing-healthy-fats.htm">Omega-3 fatty acids</a> play an essential role in stabilizing mood. The best sources are fatty fish such as salmon, herring, mackerel, anchovies, sardines, tuna, and some cold-water fish oil supplements.</p>
                
                <h1>Tip 5: Get a daily dose of sunlight</h1> 
                
                <p class="clearfix">Sunlight can help boost serotonin levels and improve your mood. Whenever possible, get outside during daylight hours and expose yourself to the sun for at least 15 minutes a day. Remove sunglasses (but never stare directly at the sun) and use sunscreen as needed.</p>
                
                <ul class="arrows">
                    
                    <li>Take a walk on your lunch break, have your coffee outside, enjoy an al fresco meal, or spend time gardening.</li>
                    <li>Double up on the benefits of sunlight by exercising outside. Try hiking, walking in a local park, or playing golf or tennis with a friend.</li>
                    <li>Increase the amount of natural light in your home and workplace by opening blinds and drapes and sitting near windows.</li>
                    <li>If you live somewhere with little winter sunshine, try using a light therapy box.</li>

                </ul>
                
                <h1>Dealing with the winter blues</h1>
                
                <p>For some people, the reduced daylight hours of winter lead to a form of depression known as <a href="https://www.helpguide.org/articles/depression/seasonal-affective-disorder-sad.htm">seasonal affective disorder (SAD)</a>. SAD can make you feel like a completely different person to who you are in the summer: hopeless, sad, tense, or stressed, with no interest in friends or activities you normally love. No matter how hopeless you feel, though, there are plenty of things you can do to keep your mood stable throughout the year.</p>
                
                <h1>Tip 6: Challenge negative thinking</h1>
                
                <p>Do you feel like you&#8217;re powerless or weak? That bad things happen and there&#8217;s not much you can do about it? That your situation is hopeless? Depression puts a negative spin on everything, including the way you see yourself and your expectations for the future.</p>
                
                <p>When these types of thoughts overwhelm you, it&#8217;s important to remember that this is a symptom of your depression and these irrational, pessimistic attitudes—known as <em>cognitive distortions</em>—aren&#8217;t realistic. When you really examine them they don&#8217;t hold up. But even so, they can be tough to give up. You can&#8217;t break out of this pessimistic mind frame by telling yourself to &#8220;just think positive.&#8221; Often, it&#8217;s part of a lifelong pattern of thinking that&#8217;s become so automatic you&#8217;re not even completely aware of it. Rather, the trick is to identify the type of negative thoughts that are fueling your depression, and replace them with a more balanced way of thinking.</p>

                <h1>Helplines</h1>

                <ol>

                    <li>International Bipolar Foundation: 8888817666</li>
                    <li>Jeevan Aastha Helpline: 1800 233 3330</li>
                    <li>AASRA: 9820466726</li>
                    <li>Parivarthan Counseling Helpline Services: 7676602602</li>
                    <li>Sneha Foundation Trust: 044-24640050</li>

                </ol><br>

            </div>
            </div>

        </div>
        </div>

    </div>
    </div>
    </div>

    <!-- Bootstrap core JavaScript -->
    <!-- Placed at the end of the document so the pages load faster -->

    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/popper.js"></script>
    <script src="../static/bootstrap/js/bootstrap.min.js"></script>

</body>

</html>