<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Cover Template for Bootstrap</title>
        <!-- Bootstrap core CSS -->
        <link href="../static/bootstrap/css/bootstrap.css" rel="stylesheet">
        <!-- Custom styles for this template -->
        <link href="../static/cover.css" rel="stylesheet">
    </head>
    <body>
        <div class="site-wrapper">
            <div class="site-wrapper-inner font-weight-lighter">
                <div class="cover-container">
                    <div class="masthead clearfix">
                        <div class="inner">
                            <h3 class="masthead-brand">Suggestions</h3>
                            <nav class="nav nav-masthead">
                                <a class="nav-link" href="#">About Us</a>
                            </nav>
                        </div>
                    </div>
                    <div class="inner cover">
                        <h1 class="cover-heading font-weight-lighter">Find a mentor.</h1>
                        <h1 class="cover-heading font-weight-lighter">Educate yourself.</h1>
                        <h1 class="cover-heading font-weight-lighter">Find your currency.</h1>
                        <p class="lead">  </p>
                    </div>
                    <div class="mastfoot">
                        <div class="inner">
</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Bootstrap core JavaScript
    ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="../static/js/jquery.min.js"></script>
        <script src="../static/js/popper.js"></script>
        <script src="../static/bootstrap/js/bootstrap.min.js"></script>
    </body>
</html>